.main-body{
    display: flex;
    height: 93vh;
}
.middle-body{
    display: flex;
    position: absolute;
    left: 331px;
    height: 100%;
    width: 80%;
}
app-body-category{
    position: relative;
    left: 30px;
}
app-body-main{
    position: relative;
    right: 1082px;
    top: 70px;
}