<header class="navHeader">
    <div class="navLogoAndHam">
        <div class="hamdiv">
            <div class="ham material-icons">menu</div>
        </div>
        <div class="logodiv">
            <img src="../../assets/n.png" alt="youtube">

        </div>
    </div>
    <div class="navSearch">
        <div class="inputAndSearch">
            <input class="input" type="text" placeholder="     Search">
            <div class="search">

                <div class="searchIcon material-icons">search</div>
            </div>
            <div class="micContainer">
                <div class="voice material-icons">mic</div>
            </div>
        </div>
    </div>
    <div class="navProfile">
        <div class="videocall material-symbols-outlined">video_call</div>
        <div class="bellicon material-icons">notifications</div>
        <div class="profile material-symbols-outlined" (click)="toggleVisibility()">account_circle</div>
    </div>
</header>
@if (isVisible) {

    <div class="drop-down">
        <div class="setting"><a routerLink="/setting" >Setting</a></div>
    </div>
}
