.videobox{
    display: flex;
    flex-direction: column;

}
.video>img{
    width: 352px;
    height: 229px;
    border-radius: 12px;
    margin-right: 10px;
}

.videotextandmore{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}



.videotext{
    display: flex;
    width: 221px;
    justify-content: space-between;

}
.description{
    font-size: 15px;
}