<div class="mainvideos">
    <div class="rowboxes">
        <div class="videobox">
            <div class="video">
                <img src="./images/915-536x354.jpg" alt="">
            </div>
            <div class="videotextandmore">
                <div class="videotext">
                    <div class="profilelogo material-symbols-outlined">account_circle</div>
                    <div class="description">This video is very interesting</div>
                </div>
                <div class="videomore material-symbols-outlined">more_vert</div>
            </div>
        </div>
        <div class="videobox">
            <div class="video">
                <img src="./images/1018-536x354.jpg" alt="">
            </div>
            <div class="videotextandmore">
                <div class="videotext">
                    <div class="profilelogo material-symbols-outlined">account_circle</div>
                    <div class="description">This video is very interesting</div>
                </div>
                <div class="videomore material-symbols-outlined">more_vert</div>
            </div>
        </div>
        <div class="videobox">
            <div class="video">
                <img src="./images/384-536x354.jpg" alt="">
            </div>
            <div class="videotextandmore">
                <div class="videotext">
                    <div class="profilelogo material-symbols-outlined">account_circle</div>
                    <div class="description">This video is very interesting</div>
                </div>
                <div class="videomore material-symbols-outlined">more_vert</div>
            </div>
        </div>
    </div>
    <div class="rowboxes">
        <div class="videobox">
            <div class="video">
                <img src="./images/1038-536x354.jpg" alt="">
            </div>
            <div class="videotextandmore">
                <div class="videotext">
                    <div class="profilelogo material-symbols-outlined">account_circle</div>
                    <div class="description">This video is very interesting</div>
                </div>
                <div class="videomore material-symbols-outlined">more_vert</div>
            </div>
        </div>
        <div class="videobox">
            <div class="video">
                <img src="./images/995-536x354.jpg" alt="">
            </div>
            <div class="videotextandmore">
                <div class="videotext">
                    <div class="profilelogo material-symbols-outlined">account_circle</div>
                    <div class="description">This video is very interesting</div>
                </div>
                <div class="videomore material-symbols-outlined">more_vert</div>
            </div>
        </div>
        <div class="videobox">
            <div class="video">
                <img src="./images/384-536x354.jpg" alt="">
            </div>
            <div class="videotextandmore">
                <div class="videotext">
                    <div class="profilelogo material-symbols-outlined">account_circle</div>
                    <div class="description">This video is very interesting</div>
                </div>
                <div class="videomore material-symbols-outlined">more_vert</div>
            </div>
        </div>
    </div>
    <div class="rowboxes">
        <div class="videobox">
            <div class="video">
                <img src="./images/915-536x354.jpg" alt="">
            </div>
            <div class="videotextandmore">
                <div class="videotext">
                    <div class="profilelogo material-symbols-outlined">account_circle</div>
                    <div class="description">This video is very interesting</div>
                </div>
                <div class="videomore material-symbols-outlined">more_vert</div>
            </div>
        </div>
        <div class="videobox">
            <div class="video">
                <img src="./images/1018-536x354.jpg" alt="">
            </div>
            <div class="videotextandmore">
                <div class="videotext">
                    <div class="profilelogo material-symbols-outlined">account_circle</div>
                    <div class="description">This video is very interesting</div>
                </div>
                <div class="videomore material-symbols-outlined">more_vert</div>
            </div>
        </div>
        <div class="videobox">
            <div class="video">
                <img src="./images/384-536x354.jpg" alt="">
            </div>
            <div class="videotextandmore">
                <div class="videotext">
                    <div class="profilelogo material-symbols-outlined">account_circle</div>
                    <div class="description">This video is very interesting</div>
                </div>
                <div class="videomore material-symbols-outlined">more_vert</div>
            </div>
        </div>
    </div>
</div>